Flask==0.12.2
Flask-Cors==3.0.3
gunicorn=19.7.1
jsonschema==2.6.0
networkx==2.0
numba==0.36.2
numexpr==2.6.2
numpy==1.13.3
numpydoc==0.7.0
odo==0.5.0
pandas==0.20.3
path.py==10.3.1
pathlib2==2.3.0
python-dateutil==2.6.1
toolz==0.8.2
